@media screen and (max-width: 1200px){
    .topnav ul {
        display: none;
    }

    .topnav h3 {
        left: 2rem;
    }

    .topnav button {
        display: block;
        margin-right: 3.7rem;
        background-color: transparent;
        border: none;
    }

    .landing-image {
        display: none;
    }

    .landing-content {
        text-align: center;
        margin-top: -2rem;
    }
}

@media screen and (max-width: 900px) {
    .featured-container {
        display: block;
        text-align: center;
    }

    .featured-content {
        margin: 0 auto;

        p {
            width: auto;
        }
    }

    .featured-image {
        display: flex;
        flex-direction: column;
    }
    
    .featured-image {
        order: -1;
    }
}
