@media screen and (max-width: 1200px){
    .topnav ul {
        display: none;
    }

    .topnav h3 {
        left: 2rem;
    }

    .topnav button {
        display: block;
        margin-right: 3.7rem;
        background-color: transparent;
        border: none;
    }

    .landing-image {
        display: none;
    }

    .landing-content {
        text-align: center;
        margin-top: -2rem;
    }
}

