body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Patrick Hand", cursive;
}

/* start of nav*/
.topnav {
    background: rgb(115,94,0);
    background: linear-gradient(153deg, rgba(115,94,0,1) 0%, rgba(93,49,3,1) 19%, rgba(28,18,0,1) 100%);
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.topnav h3 {
    position: absolute;
    left: 5rem;
    font-size: 40px;
    color: #f0f0f0;
}

.topnav a {
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 5rem;
    font-size: 20px;
}

.topnav a:last-child {
    border: 1px solid #f0f0f0;
    padding: 10px 3rem;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav button {
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(17, 17, 17, 0.8);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    backdrop-filter: blur(5px);
}

#sidebarBtn {
    cursor: pointer;
}

.sidebar a {
    color: #f1f1f1;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;

    box-icon {
        margin-right: 2rem;
        margin-top: 20px;
    }
}

/* .sidebar a:hover {
    color: #f1f1f1;
} */

.sidebar #closeBtn {
    margin-top: -2.5rem;
    margin-left: 8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* end of nav */

/* start of main */
main {
    margin-top: 5rem;
    padding: 2rem;
    width: auto;
    height: 79dvh;
    /* border: 1px solid black; */
}

.landing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.landing-content {
    /* border: 1px solid black; */
    width: 40rem;
    height: auto;

    h1 {
        font-size: 4.5rem;
        font-weight: 500;
    }

    p {
        font-size: 2rem;
        font-weight: 300;
        margin-top: -2rem;
    }

    button {
        margin-top: 1rem;
        padding: 1rem 2rem;
        font-family: "Patrick Hand", cursive;
        background-color: transparent;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.landing-image {
    /* border: 1px solid black; */
    height: 30rem;
    width: auto;
    margin-top: 2rem;
    overflow: hidden;
    display: flex;

    img {
        object-fit:contain;
        width: 100%;
        height: 100%;
    }
}