@media screen and (max-width: 990px) {
    .create-container {
        flex-direction: column;
        height: auto;
    }

    .topnav {
        h1 {
            margin: 1rem auto;
            text-align: center;
            width: 100%;
        }

        a {
            position: fixed;
            left: 2rem;
        }
    }

    .add-info-container {
        width: 80%;
        display: flex;
        justify-content: center;
        input {
            width: 100%;
        }
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}