@media screen and (max-width: 1300px) {
    .sidenav {
        display: none;
    }

    .sidenav-shortcut {
        display: block;
        position: fixed;
        border-right: 1px solid rgb(180, 180, 180);
        height: 100%;
        width: 5rem;
        top: 0;
        left: 0;
    
        h1 {
            margin-top: 2rem;
            margin-left: 3rem;
        }
    
        ul {
            width: 100%;
            margin: 4rem 0 auto;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1.2rem;
            
            a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 10px 20px;
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
    
        }
    }

    .feed-placeholder {
        width: 750px;
    }

    .list-container {
        display: none;
    }
}