html {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.create-container {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;  
}

.add-image-container {
    border: 1px solid black;
    width: auto;
    height: 20rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.add-info-container {
    border: 1px solid black;
    width: 35rem;
    height: 20rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: left;

    .description {
        height: 8rem;
    }

    input {
        margin-top: 0.2rem;
        width: 35vw;
    }

    label {
        margin-top: 0.8rem;
        display: flex;
        justify-content:left;
    }

    button {
        margin-top: 1rem;
        width: 25%;
        right: 0;

    }
}